.footer-icons a {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;
}

.link-photos {
    object-fit: contain;
    width: auto;
    height: 100%;
    max-width: auto;
    max-height: 42px;
    fill: white;
}

.link-photos svg {
    width: auto;
    height: 100%;
}

.footer-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    
    grid-gap: 10px;
    place-items: center;

}

@media (min-width: 992px)  {
    .footer-icons {
        width: 250px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 991px)  {
    .footer-icons {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
    }
}

#facebook-img{

}

.footer-content {
    position: relative;
}