.link-photos{
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 40px;
    padding: 0 10px; 
}

.footer-icons{
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-end;
}

#facebook-img{

}